GTFS_-_De_Lijn.json
{"flowContents":{"identifier":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6","instanceIdentifier":"93403ca1-49fc-1017-0d82-419ef8f5816e","name":"GTFS - De Lijn","comments":"","position":{"x":920.0,"y":688.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"d4649661-514d-3101-801d-2bf66f1c759d","instanceIdentifier":"93403ca4-49fc-1017-1489-ded42b9e79b4","name":"JSON to SQL","comments":"","position":{"x":1648.0,"y":280.0},"type":"org.apache.nifi.processors.standard.ConvertJSONToSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"table-schema-cache-size":"100","Table Name":"water_quality","Catalog Name":null,"jts-sql-param-attr-prefix":"sql","Schema Name":null,"Unmatched Field Behavior":"Ignore Unmatched Fields","Unmatched Column Behavior":"Ignore Unmatched Columns","jts-quoted-identifiers":"true","jts-quoted-table-identifiers":"false","JDBC Connection Pool":"8701abec-7829-3012-bcd3-d10972420545","Update Keys":null,"Translate Field Names":"true","Statement Type":"INSERT"},"propertyDescriptors":{"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"Catalog Name":{"name":"Catalog Name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false},"jts-sql-param-attr-prefix":{"name":"jts-sql-param-attr-prefix","displayName":"SQL Parameter Attribute Prefix","identifiesControllerService":false,"sensitive":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"Unmatched Field Behavior":{"name":"Unmatched Field Behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false},"Unmatched Column Behavior":{"name":"Unmatched Column Behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false},"jts-quoted-identifiers":{"name":"jts-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false},"jts-quoted-table-identifiers":{"name":"jts-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false},"Update Keys":{"name":"Update Keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false},"Translate Field Names":{"name":"Translate Field Names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false},"Statement Type":{"name":"Statement Type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6"},{"identifier":"8fa193ed-cc76-35d8-ab7c-0c242923e5a0","instanceIdentifier":"93403caf-49fc-1017-234e-82e7fe49757e","name":"GTFS LdesClient","comments":"","position":{"x":392.0,"y":-104.0},"type":"be.vlaanderen.informatievlaanderen.ldes.processors.LdesClient","bundle":{"group":"be.vlaanderen.informatievlaanderen","artifact":"ldes-client-processor","version":"1.0-SNAPSHOT"},"properties":{"FRAGMENT_EXPIRATION_INTERVAL":"30","DATA_SOURCE_FORMAT":"TURTLE","DATA_DESTINATION_FORMAT":"n-quads","DATA_SOURCE_URL":"https://gtfs.smartdataspace.dev-vlaanderen.be/connections-by-stop"},"propertyDescriptors":{"FRAGMENT_EXPIRATION_INTERVAL":{"name":"FRAGMENT_EXPIRATION_INTERVAL","displayName":"Fragment expiration interval","identifiesControllerService":false,"sensitive":false},"DATA_SOURCE_FORMAT":{"name":"DATA_SOURCE_FORMAT","displayName":"Data source format","identifiesControllerService":false,"sensitive":false},"DATA_DESTINATION_FORMAT":{"name":"DATA_DESTINATION_FORMAT","displayName":"Data destination format","identifiesControllerService":false,"sensitive":false},"DATA_SOURCE_URL":{"name":"DATA_SOURCE_URL","displayName":"Data source url","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6"},{"identifier":"bce23fb0-ba67-3898-b8a4-65e1ce2acd65","instanceIdentifier":"93403ca6-49fc-1017-dd15-75a9fcbef357","name":"upsert in PostgreSQL","comments":"","position":{"x":1032.0,"y":528.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"8701abec-7829-3012-bcd3-d10972420545","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":"DELETE FROM water_quality WHERE \"id\" = '${sql.args.1.value}' and 'temperatuur_date' = '${sql.args.6.value}';","compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":null,"dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6"},{"identifier":"6738a1c8-1603-335f-a48b-7782c4a999a8","instanceIdentifier":"93403ca3-49fc-1017-6d8c-5db315051221","name":"Nquads to JSON-LD","comments":"","position":{"x":408.0,"y":272.0},"type":"be.vlaanderen.informatievlaanderen.processors.RDFSerialisationProcessor","bundle":{"group":"be.vlaanderen.informatievlaanderen","artifact":"nifi-rdf-serialisation-processors","version":"0.2-Special-Samuel-Edition"},"properties":{"SOURCE_SERIALISATION":"N-Quads","TARGET_SERIALISATION":"JSON-LD","CONTEXT_URI":"https://data.vlaanderen.be/doc/applicatieprofiel/waterkwaliteit/ontwerpstandaard/2022-05-24/context/waterkwaliteit-ap.jsonld"},"propertyDescriptors":{"SOURCE_SERIALISATION":{"name":"SOURCE_SERIALISATION","displayName":"Serialisation of the incoming FlowFile.","identifiesControllerService":false,"sensitive":false},"TARGET_SERIALISATION":{"name":"TARGET_SERIALISATION","displayName":"Serialisation of the outgoing FlowFile.","identifiesControllerService":false,"sensitive":false},"CONTEXT_URI":{"name":"CONTEXT_URI","displayName":"The JSON-LD context to apply.","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["FAILURE"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6"},{"identifier":"dd9cc19c-b402-329c-a298-09415f97bf8d","instanceIdentifier":"93403ca8-49fc-1017-fb39-4bba00cf713e","name":"Flatten JSON to key-value pairs","comments":"","position":{"x":1032.0,"y":272.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"jolt-spec":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*id\": \"id\",\n      \"*arrivalStop\": \"arrivalstop\",\n      \"*arrivalTime\": \"arrivaltime\",\n      \"*departureStop\": \"departurestop\",\n      \"*departureTime\": \"departuretime\"\n    }\n  },\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"id\": \"member_id\",\n      \"arrivalstop\": {\n        \"*id\": \"arrival_id\",\n        \"*label\": \"arrival_halte\",\n        \"*WKT\": {\n          \"*value\": \"arrival_WKT\"\n        }\n      },\n      \"arrivaltime\": {\n        \"*value\": \"arrival_time\"\n      },\n      \"departurestop\": {\n        \"*id\": \"departure_id\",\n        \"*label\": \"departure_halte\",\n        \"*WKT\": {\n          \"*value\": \"departure_WKT\"\n        }\n      },\n      \"departuretime\": {\n        \"*value\": \"departure_time\"\n      }\n    }\n  }\n\n\n\n\n ]\n","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6"},{"identifier":"de3d08fa-81d7-333c-9b75-c28b68088e9f","instanceIdentifier":"93403ca5-49fc-1017-077a-0b5661dd9e87","name":"VersionMaterialiseProcessor","comments":"","position":{"x":1128.0,"y":-24.0},"type":"be.vlaanderen.informatievlaanderen.processors.VersionMaterialiseProcessor","bundle":{"group":"be.vlaanderen.informatievlaanderen","artifact":"nifi-ldes-version-materialisation-processors","version":"0.3-SNAPSHOT"},"properties":{"MembersOnly":"false","isVersionOf":"http://purl.org/dc/terms/isVersionOf"},"propertyDescriptors":{"MembersOnly":{"name":"MembersOnly","displayName":"Restrict output to members","identifiesControllerService":false,"sensitive":false},"isVersionOf":{"name":"isVersionOf","displayName":"Predicate used for isVersionOf","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"c0b0418e-4b7f-38d2-be92-3127dde98068","instanceIdentifier":"93403cb0-49fc-1017-6bbb-2a09524216fb","name":"","source":{"id":"8fa193ed-cc76-35d8-ab7c-0c242923e5a0","type":"PROCESSOR","groupId":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6","name":"GTFS LdesClient","comments":"","instanceIdentifier":"93403caf-49fc-1017-234e-82e7fe49757e"},"destination":{"id":"de3d08fa-81d7-333c-9b75-c28b68088e9f","type":"PROCESSOR","groupId":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6","name":"VersionMaterialiseProcessor","comments":"","instanceIdentifier":"93403ca5-49fc-1017-077a-0b5661dd9e87"},"labelIndex":1,"zIndex":0,"selectedRelationships":["data"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6"},{"identifier":"5bc5901f-5acd-3873-8d80-d7037286e978","instanceIdentifier":"93403cab-49fc-1017-5fc1-1bb7ce0ad91d","name":"","source":{"id":"d4649661-514d-3101-801d-2bf66f1c759d","type":"PROCESSOR","groupId":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6","name":"JSON to SQL","comments":"","instanceIdentifier":"93403ca4-49fc-1017-1489-ded42b9e79b4"},"destination":{"id":"bce23fb0-ba67-3898-b8a4-65e1ce2acd65","type":"PROCESSOR","groupId":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6","name":"upsert in PostgreSQL","comments":"","instanceIdentifier":"93403ca6-49fc-1017-dd15-75a9fcbef357"},"labelIndex":1,"zIndex":0,"selectedRelationships":["sql"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6"},{"identifier":"3075642d-1d70-3ccd-b8f5-ed9fed104ade","instanceIdentifier":"93403caa-49fc-1017-6e72-d46276ef72d3","name":"","source":{"id":"dd9cc19c-b402-329c-a298-09415f97bf8d","type":"PROCESSOR","groupId":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6","name":"Flatten JSON to key-value pairs","comments":"","instanceIdentifier":"93403ca8-49fc-1017-fb39-4bba00cf713e"},"destination":{"id":"d4649661-514d-3101-801d-2bf66f1c759d","type":"PROCESSOR","groupId":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6","name":"JSON to SQL","comments":"","instanceIdentifier":"93403ca4-49fc-1017-1489-ded42b9e79b4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6"},{"identifier":"2dfef8b4-d1a6-32fd-9f25-567fd5158dfb","instanceIdentifier":"93403cad-49fc-1017-0f3d-7bf9b0444ed0","name":"","source":{"id":"6738a1c8-1603-335f-a48b-7782c4a999a8","type":"PROCESSOR","groupId":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6","name":"Nquads to JSON-LD","comments":"","instanceIdentifier":"93403ca3-49fc-1017-6d8c-5db315051221"},"destination":{"id":"dd9cc19c-b402-329c-a298-09415f97bf8d","type":"PROCESSOR","groupId":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6","name":"Flatten JSON to key-value pairs","comments":"","instanceIdentifier":"93403ca8-49fc-1017-fb39-4bba00cf713e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["SUCCESS"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6"},{"identifier":"d7a41ade-ed77-3136-b88f-4d290f0efa83","instanceIdentifier":"93403ca9-49fc-1017-2a89-a11d33334299","name":"VersionMater","source":{"id":"de3d08fa-81d7-333c-9b75-c28b68088e9f","type":"PROCESSOR","groupId":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6","name":"VersionMaterialiseProcessor","comments":"","instanceIdentifier":"93403ca5-49fc-1017-077a-0b5661dd9e87"},"destination":{"id":"6738a1c8-1603-335f-a48b-7782c4a999a8","type":"PROCESSOR","groupId":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6","name":"Nquads to JSON-LD","comments":"","instanceIdentifier":"93403ca3-49fc-1017-6d8c-5db315051221"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"8701abec-7829-3012-bcd3-d10972420545","instanceIdentifier":"93403ca2-49fc-1017-9488-99376f39db71","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.17.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":"select 1","Database Connection URL":"jdbc:postgresql://ldes-postgis/water_quality","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/extensions/postgresql-42.5.0.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","FILE","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.17.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}